@charset "UTF-8";

body{
    background-color: #f2f2f2;
}
header
{
    width: 100%;
    height:50px;
    top: 0;
    left:0;
    right: 0;
    position: fixed;
    background-color: #039ef2;

}
.menu-usuário
{
    float: right;
    padding-right: 50px;
}
.menu-usuário  ul > li { /* Alinhamento e fonte 'contato sobre' */ 
    display: inline-block;
    color: white;
    font-weight: bold;
}
#sobre
{
    margin-right: 25px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    
}
#botao-sair
{
    margin-right: 100px;
    color: black;
    font-size: 20px;
}
.imagem-usuário
{
  
    width: 35px;
    margin-left: 25px;
}
.icone-sair
{
    width: 25px;
    margin-right: 25px;
    

}