@charset "UTF-8";

/* Algumas configurações padrões no fima do documento */ 

body { /* Geral*/
    background-color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
}

header { /* Barra Superior */
    width: 100%; /* Ocupar a tela - Lateral */
    height: 50px; /* Altura barra */ 
    top: 0; /* Colar barra no topo */
    left: 0; /* Colar barra na esquerda */ 
    right: 0; /* Colar barra na direta */
    position: fixed; /* Fixar barra no topo */ 
    background-color: #039EF2;
}

/* HEADER - MENU SUPERIOR */ 
.menu-prelog { /* Posição - 'contato sobre' */
    float: right;
    padding-right: 50px;
}

.menu-prelog > ul > li { /* Alinhamento e fonte 'contato sobre' */ 
    display: inline-block;
    color: white;
    font-weight: bold;
}
    
#contato {  /*REVER */ 
    margin-right: 30px;
}
/* FIM HEADER - MENU SUPERIOR */

/* MAIN - LOGIN */
main { /* Tela Login - Configurações Gerais*/
    width: 440px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(52, 96, 134, 0.295);
    margin: auto;
    margin-top: 150px;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
}

main > p { /* Título - REPX - Repositório XML e NF-e*/ 
    font: normal bold 0.78em arial, "sans serif";
 }

 .linha-horizontal { /* Linha abaixo de REPX*/
    margin: auto;
    width: 400px;
    background-color: rgb(105, 105, 105);
    border: 2px solid rgb(105, 105, 105);
 }




label { /* Nomes 'Email e Senha' */ 
    display: block; /* Para deixar no centro */ 
	margin: 30px 0 6px 0;
	font-size: 1.2em;
}

.pdados{  /* nomes */
    font-size: 0.9em;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 3px;
    

}

.cadmain>h2{
    margin-top: 2px;
    
}
#botEnviarEmail{
    
    width: 150px;
    height: 35px;
    margin-top: 30px;
    background-color: #039EF2;
    border-radius: 30px; /* Arredondamento */ 
    border-width: 5px; /* Espessura da borda*/ 
    border-color: #0e98e27a ;
    color: white;
    font: normal bold 1em arial, "sans serif" ;
    font-size:15px;
    
}
#inputRecuperarSenha{
    height: 35px;
    width: 100%;
    margin-right: 505px;
    font-size: 20px;
    box-shadow: 2px 2px 1px 0px;
    border-radius: 10px;
}
 #esqsenha{ 
 margin-left:30px;
font-size: 22px;



}

 

/* FIM MAIN LOGIN*/

/* FOOTER - RODAPÉ*/
footer {
    width: 100%; /* Ocupar toda a tela - Largura */
    height: 150px; /* Altura */
    background-color: #07679A;
    bottom: 0; /* Posição fundo*/ 
    left: 0;  /* Não deixa espaço na lateral esquerda */
    position: fixed; /* Manter fixo */
}

.opc-rodape{ /* Posição 'planos, contato, sefaz' */
    float: left;
    padding-left: 15px;

}

.opc-rodape > ul > li { /* Posição e fonte 'planos, contato, sefaz'*/
    padding-top: 18px;
    padding-left: 140px ;
    color: white;
    font-weight: light;
    font-size: 1em; /* Tamanho Fonte - 'em' */
    line-height: 15px;
}

.email-rodape { /* Posição 'caixa email e parágrafo' */
    float: right;
    padding-right: 140px;
    line-height: 2px; /* Distância 'parágrafo' e 'caixa email'*/
}

.email-rodape > p { /* Posição e fonte 'parágrafo' */
    padding-top: 36px;
    text-align: left;
    font-size: 1em;
    color: white;
}

#bot-inscreva{ /* Configuração botão 'inscreva-se'*/
    width: 130px;
    height: 30px;
    border-radius: 15px;
    border-color: #3e8cb6;
    background-color: #48b8f5;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1em;
}

#email-inscreva{ /* Configuração 'caixa email'*/
    width: 190px;
    height: 22px;
    border-color: #3e8cb6;
    border-width: 2px;
    padding-right: 10px;
}
/* FIM FOOTER RODAPÉ*/

/* Configuração padrão para cor botões azuis: 
    background-color: #039EF2;
    border-radius: 30px;  -----  Sujeito a alteração
    border-width: 5px;  ---- Sujeito a alteração
    border-color: #0e98e27a ;

    border-color: #d4d4d4; /* Usar de padrão para outras caixas*/